.div-line {
		width: 100%;
		height: 20rpx;
		background: #f0f0f0;
	}
	.topBg{
		position: relative;
		height: 856rpx;
		backdrop-filter:blur(60px);
		// background-position: top; /* 渐变背景居中 */
		// background-repeat: no-repeat; /* 防止重复 */
		
		.img{
			position: absolute;
			bottom: 0;
			left: 0rpx;
		}
		
		.collection-cover {
			width: 400rpx;
			height: 400rpx;
			padding-top: 160rpx;
			padding-left: 174rpx;
			.imgBorder{
				position: relative;
				width: 400rpx;
				height: 400rpx;
				.imgContent{
					position: absolute;
					z-index: 10;
					top: 22rpx;
					left: 22rpx;
					width: 356rpx;
					height: 356rpx;
					border-radius: 18rpx;
					overflow: hidden;
				}
			}
		}
	}
	.information{
		padding: 0 24rpx;
		margin-top: -64rpx;
		.topInfo{
			position: relative;
			width: 100%;
			background-color: rgba(22, 22, 23, .8);
			backdrop-filter: blur(16rpx);
			border: 2rpx solid;
			border-image-source: linear-gradient(180deg, #3E3E44 0%, #212124 100%);
			border-radius: 24rpx;
			display: flex;
			flex-direction: column;
			align-items: center;

			.arrow{
				position: absolute;
				left: 336rpx;
				top: -14rpx;
			}
			.name{
				margin-top: 64rpx;
				font-size: 40rpx;
			}
			.stock{
				display: flex;
				align-content: center;
				margin-top: 16rpx;
				border-radius: 8rpx;
				overflow: hidden;
				width: 144rpx;
				height: 32rpx;
				.left{
					font-size: 22rpx;
					color: #644205;
					background-color: #FCE6B7;
					width: 52rpx;
					text-align: center;
				}
				.right{
					font-size: 22rpx;
					color: #FCE6B7;
					background-color: #46433B;
					width: 92rpx;
					text-align: center;
				}
			}
			
			.iconGroup{
				margin-top: 48rpx;
				padding-bottom: 48rpx;
				.title{
					font-size: 24rpx;
					color: #666;
					display: flex;
					align-items: center;
					justify-content: center;
					
					.leftLine{
						width: 60rpx;
						height: 2rpx;
						background-color: #666666;
						margin-right: 16rpx;
					}
					.rightLine{
						width: 60rpx;
						height: 2rpx;
						background-color: #666666;
						margin-left: 16rpx;
					}
				}
				.scrollBox{
					width: 700rpx;
					.scrollRow{
						// display: flex;
						white-space: nowrap;
						margin-top: 32rpx;
						// padding: 0 36rpx;
						.iconItem{
							font-size: 24rpx;
							color: #ccc;
							margin: 0 32rpx;
							display: inline-block;
						}
					}
				}
			}
		}
		.giftInfo{
			background-color: #161617;
			margin-top: 24rpx;
			border-radius: 24rpx;
			padding: 32rpx;
			.title{
				font-size: 28rpx;
				color: #999999;
			}
			.giftList{
				.giftItem{
					display: flex;
					align-items: center;
					margin-top: 40rpx;
					.giftImg{
						width: 104rpx;
						height: 104rpx;
						border-radius: 16rpx;
						overflow: hidden;
					}
					.giftText{
						margin-left: 26rpx;
						.giftName{
							font-size: 28rpx;
							color: #fff;
						}
						.giftProbability{
							font-size: 24rpx;
							color: #999999;
						}
					}
				}
			}
		}
		
		
		.creator-info{
			margin-top: 24rpx;
			position: relative;
			width: 100%;
			height: 128rpx;
			background-color: #161617;
			border-radius: 24rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 32rpx;
			.left{
				display: flex;
				align-items: center;
				
				.creator-avatar{
					
				}
				.creator-name{
					margin-left: 24rpx;
					width: 360rpx;
					// 超过一行省略号
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 28rpx;
					color: #fff;
				}
			}
			.more{
				font-size: 28rpx;
				color: #999;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 146rpx;
				.arrow{
					
				}
			}
		}
	}
	