.content{
		padding: 0 32rpx;
	}
	
	.no-data {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 400rpx;
	}

	.slot-content {
		background-color: white;
	}

	.dropdown-amount-input {
		padding-left: 32rpx;
		padding-right: 32rpx;
		padding-top: 20rpx;
		padding-bottom: 20rpx;
	}

	.dropdown-btns {
		display: flex;
	}

	.dropdown-btn {
		flex: 1;
	}

	.trade-type-tab {
		display: flex;
		justify-content: space-between;
		color: white;
		padding-top: 30rpx;
		align-items: center;
	}

	.trade-type-tab-l {
		display: flex;
		flex: 2;
		justify-content: space-around;
		align-items: flex-end;
	}

	.trade-type {
		color: #ccc;
		font-size: 28rpx;
	}

	.trade-type-activated {
		color: white;
		font-size: 44rpx;
	}

	.trade-type-r {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		padding-right: 32rpx;
	}

	.my-order-record {
		padding-right: 40rpx;
	}

	.payment-received-info {
		padding-top: 20rpx;
		padding-bottom: 20rpx;
	}

	.info-section1 {
		display: flex;
		align-items: center;
	}

	.payment-received-info-txt {
		flex: 1;
	}

	.type-name {
		padding-bottom: 14rpx;
	}

	.info-detail {
		color: #888;
		font-size: small;
	}

	.info-icon {
		margin-right: 14rpx;
	}

	.buy-all {
		color: #007aff;
	}

	.buy-bottom-tip {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 40rpx;
	}

	.buy-amount-unit {
		color: black;
	}

	.buy-modal {
		padding-left: 32rpx;
		padding-right: 32rpx;
		padding-top: 20rpx;
		padding-bottom: 20rpx;
	}

	.modal-title {
		display: flex;
		justify-content: space-between;
	}

	.buy-txt {
		font-weight: bold;
	}

	.close-buy-txt {
		color: #909399;
	}

	.orders {
		padding-bottom: 20rpx;
		background-color: #212121;
		border-radius: 24rpx;
		margin-top: 24rpx;
	}

	.order {
		padding: 32rpx 32rpx 0 32rpx;
		.main{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 32rpx;
			.text{
				width: 640rpx;
				margin-left: 28rpx;
				.top{
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: 30rpx;
					.left{
						
					}
					.right{
						
					}
				}
				.bottom{
					display: flex;
					align-items: center;
					justify-content: space-between;
					color: #999;
					font-size: 24rpx;
					.left{
						
					}
					.right{
						
					}
					.theme{
						color: #FCE6B7;
					}
				}
			}
		}
		.border{
			border-bottom: 1rpx solid #FFFFFF14;
		}
	}

	.order-section1 {
		display: flex;
		justify-content: space-between;
		font-size: 26rpx;
		align-items: center;
	}

	.order-section1-l {
		display: flex;
		align-items: center;
	}

	.submit-time {
		padding-left: 4rpx;
	}

	.order-section1-r {
		color: #909399;
	}

	.text-avatar {
		height: 50rpx;
		width: 50rpx;
		border-radius: 50rpx;
		line-height: 50rpx;
		text-align: center;
		color: white;
		margin-right: 12rpx;
		background-color: rgb(41, 121, 255);
	}

	.text-avatar2 {
		background-color: #39496a;
	}

	.order-section2 {
		font-size: 26rpx;
		line-height: 2;
		display: flex;
		justify-content: space-between;
	}

	.order-section2-l {
		display: flex;
		align-items: center;
		color: #909399;
	}

	.order-section2-r {
		font-weight: bold;
		color: #606266;
	}

	.order-section3 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #909399;
		font-size: 24rpx;
	}

	.order-section3-l {}

	.receipt-payment-type-icon {
		margin-right: 14rpx;
	}

	.order-section1-l-txt-sell {
		font-size: 32rpx;
		color: #eb3e3e;
		font-weight: bold;
	}

	.order-section1-l-txt-buy {
		font-size: 32rpx;
		color: green;
		font-weight: bold;
	}

	.order-section1-l-txt2 {
		font-size: 36rpx;
		padding-left: 8rpx;
	}

	.buy-btn {
		height: 50rpx;
		line-height: 50rpx;
	}

	.trade-tip {
		background-color: #2979ff;
		color: white;
		padding-bottom: 32rpx;
		padding-top: 20rpx;
		padding-left: 32rpx;
		padding-right: 32rpx;
	}

	.trade-tip-title {
		display: flex;
		justify-content: center;
	}

	.trade-tip-content {
		font-size: 20rpx;
		line-height: 1.8;
	}