.title{
	font-size:48rpx;
	color: #fff;
	padding: 64rpx 0 48rpx 60rpx;
}
.form{
	padding: 0 32rpx;
	.item{
		width: 100%;
		height: 96rpx;
		background-color: #212121;
		border-radius: 16rpx;
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 24rpx;
		font-size: 30rpx;
		
		.label{
			width:120rpx;
			text-align: right;
			margin-left: 28rpx;
		}
		.formInput{
			width: 460rpx;
			margin-left: 36rpx;
		}
	}
	.login-btn{
		margin-top: 56rpx;
		background-color: #FCE6B7;
		border-radius: 60rpx;
		color: #644205;
		font-size: 32rpx;
		width: 100%;
		height: 88rpx;
		text-align: center;
		line-height: 88rpx;
	}
	.unable{
		opacity: .2;
	}
}